@{
    ViewData["Title"] = "FAQ";
}

<!--Section: FAQ-->
<br />
<section>
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">
    Find the answers for the most frequently asked questions below
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>What is the difference between a standard user and a premium user?</h6>
      <p>
          A standard user can only have 10 contacts in their contact book, but a premium user can have up to 100.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i>How can I become a premium user?</h6>
      <p>
          It's easy! Just enter your activation code in the "Profile" tab and you will immediately become a premium user. Your account will be premium for life.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Are there any limitations in managing phone books?</h6>
      <p>
          No, you can add and delete phonebooks without any restrictions, same goes for contacts.
      </p>
    </div>
  </div>
</section>
<!--Section: FAQ-->