@{
    ViewData["Title"] = "Home Page";
    Layout = "Logged";
}

<!--Section: FAQ-->
<br />
<section>
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">PHONE BOOK APP</h3>
  <p class="text-center mb-5">
    <b>Welcome to the virtual phone book!</b>
  </p>
  <p class="text-center mb-5">
    Your contacts will never lost again!
    <br />
    You can create, edit and delete your phone contacts here for free.
    <br />
    Create accounts today and start using our app!
    <br />
  </p>

</section>
<!--Section: FAQ-->