@{
    ViewData["Title"] = "Signing in";
}
@model Credentials

<form method="post">
    <br />
  <!-- Login input -->
  <div class="form-outline mb-4">
    <label class="form-label">Login</label>
    <input type="text" class="form-control" asp-for="Login"/>
    <span asp-validation-for="Login" class="text-danger"></span>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" asp-for="Password"/>
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  
  @if(ViewBag.ErrorMessage != null)
  {
      <span class="text-danger">@ViewBag.ErrorMessage</span>
  }
</form>
