@{
    ViewData["Title"] = "Home Page";
}
@model List<PhoneBook>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Maksymalna ilość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PhoneBook phoneBook in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@phoneBook.Id</td>
                    <td>@phoneBook.Name</td>
                    <td>@phoneBook.MaxSize</td>
                </tr>
            }
        </tbody>
    </table>
</div>
