@{
    ViewData["Title"] = "Home Page";
    Layout = "Logged";
}
@model PersonalDataEdition

<form method="post">

  <div class="form-outline mb-4">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label">Surname</label>
    <input type="text" class="form-control" asp-for="Surname"/>
    <span asp-validation-for="Surname" class="text-danger"></span>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label">Age</label>
    <input type="number" class="form-control" asp-for="Age"/>
    <span asp-validation-for="Age" class="text-danger"></span>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label">Email Address</label>
    <input type="email" class="form-control" asp-for="EmailAddress"/>
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Edit</button>
  
  @if(ViewBag.Error != null)
  {
      <p>@ViewBag.Error</p>
  }
</form>
